*{
    background-color: black;
    color: azure;
}

    .recetasCard{
        list-style: none;
        font-size: 1.5rem;
        text-align: center;
    }
    


   .recetaImage{
        border-radius: 10px;
        background-color: azure;
        width: 230px;
        height: 345px;
    }

    

    @media(max-width:560px){
        .recetaImage{
            width:90%;
            height: auto;  
        }
    }